@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #ccc;
}

ul {
    list-style: none;
}

.main-container {
    max-width: 1300px;
    margin: 0 auto;
}

header {
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6rem;
    color: #fff;
    width: 100%;
    height: 10vh;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    position: sticky;
    top: 0;
    z-index: 100;
}

header .logo-container > h1 {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 36px;
    font-weight: 800;
    color: #333;
}

header .links-container {
    display: flex;
    gap: 1.5rem;
}

header .links-container li a {
    color: #555;
    font-family: 'Nothing You Could Do', cursive;
}

header .links-container li a:hover {
    color: #333;
    font-weight: bold;
}

header .links-container li a:focus,
header .links-container li a:active {
    color: #333;
    font-weight: bold;
}

header .menu-container {
    display: none;
}



.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}

.home {
    height: 90vh;
}

.wrapper > h1 {
    margin-bottom: 1rem;
    font-family: 'Nothing You Could Do', cursive;

}

.container {
    /* min-height: 100vh; */
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.project-container {
    background-color: #fff;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 500px;
    text-align: center;
}

.project-image {
    height: 200px;
    width: 300px;
    border: 1px solid black;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.title {
    margin-bottom: 1.5rem;
    color: #333;
}

.description {
    margin-bottom: 2rem;
    color: #555;
}

.button_primary {
    cursor: pointer;
    border: none;
    background-color: #333;
    width: 120px;
    height: 46px;
    color: #fff;
    border-radius: 12px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.preview {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.button_primary:hover {
    background-color: #555;
}

@media screen and (max-width: 460px) {
    body {
        overflow-x: hidden;
    }
    header {
        padding: 0 3rem;
        position: relative;
    }
    header .menu-container {
        display: block;
    }
    header .links-container {
        /* display: none; */
        background-color: #ccc;
        color: #000;
        padding: 1rem 1.5rem;
        flex-direction: column;
        position: absolute;
        top: 100px;
        right: 50px;
        transform: translateX(160px);
        transition: transform 300ms ease-in;
    }

    header .links-container.show {
        transform: translateX(0);
    }
    .project-container {
        width: 260px;
        height: 360px;
    }
    .project-image {
        height: 120px;
        width: 240px;
    }
    .project-container > h2 {
        font-size: 18px;
    }
    .project-container > p{
        font-size: 16px;
    }
    .button_primary {
        width: 92px;
        height: 32px;
    }
}
